.wishlist-wrapper {
  display: flex;

  .button-wrapper {
    width: 110px;
    display: flex;

    & > .button-class {
      position: inherit;
    }
  }
  .wishlist-info {
    flex: 1;
    align-self: center;
  }
}
